/* Google font */
@import url('https://fonts.googleapis.com/css?family=Orbitron');

body{
     background-color: #121212;
 }
 #clock{
     
     font-family: 'Orbitron', sans-serif;
     font-size: 50px;
     color: #66ff99;
     text-align: center;
  padding-top: 40px;
 padding-bottom: 40px;
 }